<% if (errorMassages.length > 0) { %>
<div
  class="border border-red-500 text-sm px-2 py-1 rounded bg-red-100 relative mb-2 text-red-500"
>
  <strong class="font-bold p-2">Error!</strong>
  <span class="block sm:inline p-2">
    <% errorMassages.forEach(function(error) { %>
    <li><%= error %></li>
    <% }); %>
  </span>
</div>
<% } %>
